*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cor-vermelha{
    background-color: red;
}

.cor-verde{
    background-color: #00FF00;
}